/*
Material Design Color Palette
background color: #D3D3D3 (light grey)
primary text: #000000 (black)
primary color: #3F51B5 (indigo)
primary color text: #FFFFFF (white)
accent color: #FF4081 (pink)
accent color text: #000000 (black)
*/
/*=============Global=================*/
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: lightgrey;
    padding: 10px;
    font-family: Roboto, Arial, sans-serif;
}

/*Channels and Chat text areas*/
.area{
    background-color: #FFFFFF;
    height: 98vh;
}

button{
    color: black;
    background-color: #FF4081;
    border: 0;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.channels-area{
    position: absolute;
    left: 0;
    width: 40%;
}

.chat-area{
    position: absolute;
    right: 0;
    width: 60%;
}

/*=============App Bar================*/
/*App bars*/
h1 {
    color: #FFFFFF;
    background-color: #3F51B5;
    height: 80px;
    line-height: 80px;
    padding-left: 5px;
}

#moocus {
    position: relative;
    top: 24px;
    left: 5px;
}

#channel-owner-location{
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration-line: none;
}

#current-channel-star{
    position: absolute;
    font-size: 24px;
    right: 16px;
    top: 28px;
    cursor: pointer;
}

/*Create new channel*/
.chat-area h1 {
    display: flex;
    align-items: center;
}

.chat-area h1 input{
    margin: 1%;
    padding: 1%;
    width: 85%;
    height: 25%;
    font-size: 20px;
}

.chat-area h1 button {
    background-color: #3F51B5;
    color: #FFFFFF;
}

/*==========Channels List=============*/
/*Channels List*/
.channel{
    text-transform: capitalize;
}

ul {
    list-style-type: none;
    height: 70%;
    overflow: auto;
}

li{
    padding: 16px;
    font-size: 16px;
    border-bottom: 1px solid #D3D3D3;
    height: 24px;
    font-size: 20px;
    display: flex;
    position: relative;
    cursor: pointer;
}

li.selected {
    border-left: 4px solid #3F51B5;
    color: #3F51B5;
}

.star-chevron {
    display: flex;
    justify-content: space-around;
    width: 50%;
    font-size: 24px;
    position: absolute;
    right: 0;
}

li .star-chevron span{
    font-size: 16px;
    background-color: #3F51B5;
    color: white;
}

.channels-area {
    position: absolute;
}

#add-channel-btn{
    border-radius: 50%;
    background-color: #FF4081;
    padding: 2.5%;
    position: absolute;
    right: 16px;
    bottom: 11%;
    font-size: large;
    font-weight: bold;
    box-shadow: 3px 3px 3px #D3D3D3
}

/*=============Tab Bar================*/
/*Group of buttons under the channels list*/
.tab-bar {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.tab-bar button{
    box-sizing: border-box;
    width: 33.33%;
    height: 10%;
    padding: 16px;
    font-size: 18px;
    background-color: white;
}

.tab-bar button.selected{
    border-bottom: 4px solid #3F51B5;
    color: #3F51B5;
}

/*=============Messages===============*/
#message-list {
    height: 75%;
    overflow-y: auto;
    overflow-x: hidden;
}

.message {
    width: 80%;
    margin-bottom: 8px;
    margin-left: 2.5%;
    background-color: white;
    padding: 16px;
    position: relative;
}

.message button {
    position: absolute;
    right: 16px;
    bottom: 8px;
}

/*Message from the current user*/
.message.own{
    margin-left: 17.5%;
}

/*Message Metadata*/
.message h4{
    font-size: medium;
    display: flex;
    justify-content: space-between;
}

.location {
    text-transform: uppercase;
    color: #000000;
}

/*TimeToLive*/
.message em{
    font-size: larger;
    font-style: normal;
}

/*Chat Bar*/

#chat-bar{
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0%;
    display: flex;
}

#emojis-button{
    background-color: white;
    margin: 16px;
    font-size: 24px;
}

#emojis{
    display: none;
    position: absolute;
    bottom: 100px;
    left: 10px;
    border: 1px solid black;
}

textarea {
    height: 90%;
    width: 90%;
    font-size: 18px;
    border: 0;
}

#send-button{
    background-color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 16px;
}

/*Create channel*/
#create-btn{
    padding: 0.5% 1%;
    margin: 1%;
    align-self: center;
}