/*
Material Design Color Palette
background color: #D3D3D3 (light grey)
primary text: #000000 (black)
primary color: #3F51B5 (indigo)
primary color text: #FFFFFF (white)
accent color: #FF4081 (pink)
accent color text: #000000 (black)
*/
/*=============Global=================*/
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: lightgrey;
    padding: 10px;
    font-family: Roboto, Arial, sans-serif;
}

/*Channels and Chat text areas*/
.area{
    background-color: #FFFFFF;
    padding: 5px;
    padding-right: 0;
    min-height: 100%;
}

button{
    color: black;
    background-color: #FF4081;
    border-color: #FF4081;
    text-transform: uppercase;
    text-align: center;
}

.channels-area{
    position: absolute;
    left: 0;
    width: 40%;
}

.chat-area{
    position: absolute;
    right: 0;
    width: 60%;
}

/*=============App Bar================*/
/*App bars*/
h1 {
    color: #FFFFFF;
    background-color: #3F51B5;
}

/*==========Channels List=============*/
/*Channels List*/
ul {
    list-style-type: none;
}

li{
    padding: 16px;
    font-size: 16px;
    border-bottom: 1px solid #D3D3D3;
    height: 24px;
}

li.selected {
    border-left: 4px solid #3F51B5;
    color: #3F51B5;
}

li img {
    vertical-align: middle;
}

/*=============Tab Bar================*/
/*Group of buttons under the channels list*/
.tab-bar{
    background-color: white;
}

.tab-bar button{
    box-sizing: border-box;
    width: 33.33%;
    height: 72px;
    padding: 16px;
    font-size: 13px;
    background-color: white;
    border: 0;
}

.tab-bar button.selected{
    border-bottom: 4px solid #3F51B5;
}

.tab-bar img {
    margin: 0 auto 4px auto;
    display: block;
}

/*=============Messages===============*/
.message {
    width: 80%;
    margin-bottom: 8px;
    margin-left: 2.5%;
    background-color: white;
    padding: 16px;
}

/*Message from the current user*/
.message.own{
    margin-left: 17.5%;
}

/*Message Metadata*/
.message h4{
    font-size: medium;
}

.location {
    text-transform: uppercase;
    color: #000000;
}

/*TimeToLive*/
.message em{
    font-size: larger;
    font-style: normal;
}